/*============

*,
*::before
*::after {
    box-sizing: border-box;
}


body
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0%;
}

a {
    text-decoration: none;
}

============*/


html,body {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    overflow-x: hidden;
}



/* ================= BURGER MENU ================= */

.header_content_logo img {
    height: 60px;
    width: auto;
    display: block;
    filter: brightness(0) invert(1);
    
    
}

.header_content_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
}


.header_content_logo span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}


.header {
    padding: 10px 0px;
    background-color: rgb(48, 47, 47);
    color: white;
    position: sticky;
    z-index: 1000;
    top: 0;
    background: #3b3b3b;

}

.container{
    max-width: 1430px;
    width: 100%;
    box-sizing: border-box;
    margin: 0% auto;
    padding: 0 15px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header .header_content .nav a{
    margin: 0 10px;
    color: white;
    /*==  display: none;  ==*/
}


.header .header_content .burger {
    cursor: pointer;
    display: none;

}

.header .header_content .burger span {
    display: block;
    background-color: white;
    margin: 5px 0px;
    width: 25px;
    height: 2px;

}


@media(max-width: 768px){
    .header .header_content .burger{
        display: block;
    }
    .header .header_content .nav{
        position: absolute;
        width: 50%;
        /*height: 50%;*/
        top: 100%;
        right: 0;
        transform: translateX(100%)
        display: flex;
        flex-direction: column;
        background-color: black;
        text-align: center;
        transition: all 0.6s ease;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.8);
        
    }
    .header .header_content .nav a{
        margin: 0;
        margin: 15px 0px;
    }
    .header .header_content .nav.active{
        right: 0;
        transform: translateX(0)
    }
}






/* ================= GLOBAL ================= */
.container0 {
    width: 100%;
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 20px;
}

.section0 {
    padding: 80px 0;
    
}

.section.gray {
    background-color: #f3f4f6;
}








/* ================= HERO ================= */
.hero {
    height: 85vh;
    background:  url(images/gruzchiki-photo2.jpg) center/cover no-repeat;
    max-width: 100%;
    position: relative;
}

.hero-overlay {
    background: rgba(15, 23, 42, 0.3);
    height: 100%;
    display: flex;
    align-items: center;
}

.hero h1 {
    color: #fff;
}

.hero p {
    color: #e5e7eb;
    max-width: 600px;
    margin-bottom: 30px;
    font-size: 18px;
}

/* ================= BUTTON ================= */

.btn {
    display: inline-block;
    padding: 14px 28px;
    background-color: #0f172a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #1e40af;

}



